@font-face {
    font-family: "KittySans";
    src: url(./assets/KittySans\ V2.ttf);
}

body {
    margin: 0;
    background-color: rgb(15, 15, 15);
    font-family: KittySans;
    user-select: none;
    image-rendering: pixelated;
    cursor: url(./assets/cursors/orb.png), auto;
    color: white;
    font-size: 20px;
}

.centered-content {
    min-height: 100%;
    width: 600px;
    max-width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 50px;
    box-shadow: 0px 0px 10px black;
    box-sizing: border-box;
}

.header {
    font-size: 60px; 
    color: rgb(212, 0, 255); 
    text-shadow: 5px 5px 0px rgb(0, 0, 0);
}


.character {
    image-rendering: pixelated;
    width: 100px;
}


a, button, textarea {
    cursor: url(./assets/cursors/point.png), auto;
}

html, body {
    width: 100%;
    height: 100%;
}


.intro_span {
    font-size: 30px;
    font-weight: bold;
    color: rgb(248, 214, 255);
}



#missingJS {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./assets/backgrounds/green\ brick.png);
    background-size: 100px;
    color: rgb(255, 187, 0);
}

#missingJS h1 {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
}



a:link {
    color: rgb(147, 82, 223);
}
a:visited {
    color: rgb(119, 0, 255);
}
a:hover {
    color: rgb(105, 115, 255);
}
a:active {
    color: rgb(234, 0, 255);
}












#project-background {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    width: 600px;
    height: 100%;
    max-width: 90%;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    box-sizing: border-box;
    overflow-y: scroll;

    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px black;
}

#project-background img {
    border-radius: 4px;
    width: 100%;
}

#project-title {
    display: inline;
}

.big-obnoxious-button {
    background-color: rgb(111, 0, 255);
    color: white;
    border-radius: 10px;
    border: 0;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    margin: 10px;
}

#project-changes {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}